<settings>

<category label="Basic">
<setting id="channel_name" label="Show Channel Names" type="bool" default="true" />
<setting id="show_plot" label="Show Plot" type="bool" default="true" />
<setting id="ini_file1" label="First stream urls .ini file" type="file" default="special://home/addons/plugin.video.tvlistings/resources/addons1.ini" />
<setting id="ini_file2" label="Second stream urls .ini file" type="file" default="special://userdata/addon_data/plugin.video.tvlistings/addons2.ini" />
<setting id="ini_reload" label="(Re)load .ini files" type="bool" default="true" />
</category>

</settings>
